:root {

    --primary-color: #fff;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 40px;
    height: 40px;
}

.hero {
    position: relative;
    height: 400px;

}

.hero img {
    display: block;
    width: 100%;
    height: 400px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    margin: 10px auto;
    position: absolute;
    background-color: var(--accent1-color);
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    width: 90%;
    height: 155px;
}

.hero article p {
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: 125px;
}